/* =========================
   HOME HERO SECTION
========================= */


.hero{

    height:85vh;

    background:
    linear-gradient(
        rgba(58,38,12,.65),
        rgba(212,175,55,.35)
    ),
    url("../images/homewomen.jpg")
    center/cover no-repeat;


    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    color:white;
    padding:20px;

}



.hero-content{

    max-width:750px;

}



.hero h1{

    font-size:42px;
    margin-bottom:15px;

}



.hero p{

    font-size:18px;
    line-height:1.7;
    margin-bottom:25px;

}




/* =========================
   MOBILE HERO
========================= */


@media(max-width:768px){


.hero{

    height:75vh;

}


.hero h1{

    font-size:30px;

}


.hero p{

    font-size:16px;

}


}